PORT=5000
MONGODB_URI=mongodb+srv://tarunbaby835_db_user:YOUR_PASSWORD_HERE@cluster0.ecibwm4.mongodb.net/foodbridge?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=zerohunger_access_secret_key_super_secure_32_chars_long
JWT_REFRESH_SECRET=zerohunger_refresh_secret_key_super_secure_32_chars_long
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=mock_cloudinary
CLOUDINARY_API_KEY=mock_key
CLOUDINARY_API_SECRET=mock_secret
GOOGLE_MAPS_API_KEY=mock_google_maps_key
NODE_ENV=development
